
[Desktop Entry]
Encoding=UTF-8
Name=Link to Tutorials/1.5/ros enabled model plugin - Gazebo Wiki
Type=Link
URL=http://gazebosim.org/wiki/Tutorials/1.5/ros_enabled_model_plugin
Icon=text-html
Name[en_US]=Installation tutorial
