<launch>
  <node name="luna_gui_gw" pkg="lunabotics" type="luna_gui_gw" args="$(arg oip)" />
  <node name="luna_gui_listener" pkg="lunabotics" type="luna_gui_listener" />
  <node name="luna_mech_gw" pkg="lunabotics" type="luna_mech_gw">
	<remap from="cmd_vel" to="$(arg cmd_vel)" />
	<remap from="odom" to="$(arg odom)" />
  </node>
  <node name="luna_driver" pkg="lunabotics" type="luna_driver" />
  <node name="luna_fear" pkg="lunabotics" type="luna_fear" />
  <node name="luna_planner" pkg="lunabotics" type="luna_planner" />
  <node name="luna_slam" pkg="lunabotics" type="luna_slam" />
  <node name="luna_aut_gw" pkg="lunabotics" type="luna_aut_gw" />
</launch>
