<launch>
  <node name="luna_gui_gw" pkg="lunabotics" type="luna_gui_gw" args="$(arg oport) $(arg oip)" />
  <node name="luna_gui_listener" pkg="lunabotics" type="luna_gui_listener" args="$(arg iport) $(arg iip)" />
  <node name="luna_mech_gw" pkg="lunabotics" type="luna_mech_gw" />
  <node name="luna_pilot" pkg="lunabotics" type="luna_pilot" output="screen" />
  <node name="luna_fear" pkg="lunabotics" type="luna_fear" />
  <node name="luna_navigator" pkg="lunabotics" type="luna_navigator" />
  <node name="luna_planner" pkg="lunabotics" type="luna_planner" />
  <node name="luna_slam" pkg="lunabotics" type="luna_slam" />
  <node name="luna_aut_gw" pkg="lunabotics" type="luna_aut_gw" />
</launch>
