<?xml version="1.0"?>
<model>
  <name>Roomba 5xx series</name>
  <version>1.0</version>
  <sdf version='1.3'>roomba_model.sdf</sdf>

  <author>
   <name>Bram Ridder</name>
   <email>bram.ridder@gmail.com</email>
  </author>

  <description>
    Transformation from the URDF file at http://code.google.com/p/aptima-ros-pkg/ to a SDF file version 1.3.
  </description>
</model>

