<?xml version="1.0"?>
<model>
  <name>Simplified Roomba Robot</name>
  <version>1.0</version>
  <sdf version='1.3'>model.sdf</sdf>

  <author>
   <name>Bram Ridder</name>
   <email>bram.ridder@gmail.com</email>
  </author>

  <description>
    Simplified roomba 5XX robot.
  </description>
</model>

